.swipercard-container .swiper {
  width: 240px;
  height: 320px;
}

.swipercard-container .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swipercard-container .swiper-slide:nth-child(1n) {
  background-image: url('src/images/book1.png');
}

.swipercard-container .swiper-slide:nth-child(2n) {
  background-image: url('src/images/book2.png');
}

.swipercard-container .swiper-slide:nth-child(3n) {
  background-image: url('src/images/book3.png');
}

.swipercard-container .swiper-slide:nth-child(4n) {
  background-image: url('src/images/book4.png');
}

.swipercard-container .swiper-slide:nth-child(5n) {
  background-image: url('src/images/book5.png');
}
